.header {grid-area: header;}
.menu {grid-area: menu;}
.main {grid-area: main;}
.right {grid-area: right;}
.footer{grid-area: footer;}

.page {
    display: grid;
    background-color: aqua;
    grid-template-areas: 
    'header header header header header'
    'menu main main main right'
    'menu footer footer footer footer';
    background-color: gray;
    gap: 2px;
}

.page div{
    border: 1px solid;
    background-color: white;
    text-align: center;
}

